.delivery {
    margin-bottom: 80px;
    min-height: 750px;
    padding-top: 150px;
    @include bg;
    &__title {
        margin-bottom: 115px;
    }
    &__text {
        max-width: 760px;
        width: 100%;
        margin: 0 auto;
        p {
            font-size: 36px;              
            @include lineClamp;
            -webkit-line-clamp: 4;
        }
    }
}