.discount {
    padding-top: 50px;
    margin-bottom: 80px;
    position: relative;
    &__title {
        margin-bottom: 40px;
        @include max($lg) {
            margin-bottom: 15px;
        }
        @include max($md) {
            margin-bottom: 0;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        @include max($xl) {
            max-width: 870px;
            width: 100%;
            margin: 0 auto;
        }
        @include max($lg) {
            max-width: 550px;
        }
        @include max($md) {
            max-width: 280px;
        }

    }
    & .slick-dots {
        position: absolute;
        display: flex;
        bottom: -40px;
        width: 100%;
        justify-content: center;
        li {
            &:not(:last-child) {
                margin-right: 17px;
            }
        }
        li button {
            cursor: pointer;
            width: 42px;
            height: 9px;
            padding: 0;
            border: none;
            background-color: #DD9EAB;
            border-radius: 5px;
            font-size: 0;
            outline: transparent;
            transition: background-color 0.2s ease-in;
            &:hover {
                background-color: $global;
            }
        }
        li.slick-active {
            button {
                background-color: $link-bc;
            }
        }
    }
    &::after,
    &::before {
        position: absolute;
        content: '';
        @include bg;
    }
    &::after {
        left: 0;
        top: 30px;
        width: 45px;
        height: 107px;
        z-index: -1;
        background-image: url(../images/discount-decor-1.png);
        @include max($lg) {
            width: 25px;
            height: 87px;
        }
        @include max($md) {
            display: none;
        }
    }
    &::before {
        width: 65px;
        height: 99px;
        right: 0;
        bottom: 100px;
        background-image: url(../images/discount-decor-2.png);
        @include max($md) {
            display: none;
        }
    }
    @include max($lg) {
        padding-top: 20px;
    }
    @include max($md) {
        margin-bottom: 20px;
    }
    & .slick-arrow {
        position: absolute;
        bottom: 10px;
        z-index: 5;
        border: none;
        padding: 6px;
        width: 14px;
        height: 20px;
        font-size: 0;
        @include bg;
        cursor: pointer;
        background-color: transparent;
    }
    & .slick-prev {
        right: 34px;
        background-image: url(../images/icons/arrow-left.svg);
    }
    & .slick-next {
        right: 10px;
        background-image: url(../images/icons/arrow-right.svg);
    }
}