.discount {
    padding-top: 50px;
    margin-bottom: 80px;
    position: relative;
    &__title {
        margin-bottom: 40px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
    }
    & .slick-dots {
        position: absolute;
        display: flex;
        bottom: -40px;
        width: 100%;
        justify-content: center;
        li {
            &:not(:last-child) {
                margin-right: 17px;
            }
        }
        li button {
            cursor: pointer;
            width: 42px;
            height: 9px;
            padding: 0;
            border: none;
            background-color: #DD9EAB;
            border-radius: 5px;
            font-size: 0;
            outline: transparent;
            transition: background-color 0.2s ease-in;
            &:hover {
                background-color: $global;
            }
        }
        li.slick-active {
            button {
                background-color: $link-bc;
            }
        }
    }
    &::after,
    &::before {
        position: absolute;
        content: '';
        @include bg;
    }
    &::after {
        left: 0;
        top: 30px;
        width: 45px;
        height: 107px;
        background-image: url(../images/discount-decor-1.png);
    }
    &::before {
        width: 65px;
        height: 99px;
        right: 0;
        bottom: 100px;
        background-image: url(../images/discount-decor-2.png);
    }
}