.footer {
    padding-bottom: 50px;
    &__title {
        text-align: center;
        font-weight: 600;
        font-size: 36px;
        margin-bottom: 24px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
    &__link {
        padding-left: 30px;
        position: relative;
        font-weight: 600;
        font-size: 24px;
        outline: transparent;
        transition: color 0.3s ease-in;
        color: inherit;
        @include lineClamp;
        -webkit-line-clamp: 1;
        &:after {
            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 21px;
            height: 21px;
            @include bg;

        }
        &:hover {
            color: $global;
        }
        &:focus {
            color: $link-bc;
        }
        &:active {
            color: $pink;
        }
    }
    &__link--tel {
        &:after {
            background-image: url(../images/tel.png);
        }
    }
    &__link--post {
        &:after {
            background-image: url(../images/post.png);
        }
    }
    &__text {
        text-align: center;
        font-weight: 400;
        font-size: 24px;
        @include lineClamp;
        -webkit-line-clamp: 1;
    }
}