.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: $bg-color;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
    }
    &__btn {
        position: relative;
        width: 25px;
        height: 25px;
        border: none;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        outline: transparent;
        &:hover .header__btn-item {
            background-color: $link-bc;
        }
        &:focus .header__btn-item {
            background-color:#7c7c7c;
        }
        &:active .header__btn-item {
            background-color: $global;
        }
    }
    &__btn-item {
        display: block;
        width: 25px;
        height: 1px;
        background-color: #000;
        transition: background-color 0.2s ease-in, transform 0.3s ease-in;
        &:not(:last-child) {
            margin-bottom: 6px;
        }
        &--active {
            position: absolute;
            transition: transform 0.3s ease-in;
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(1) {
                transform: rotate(45deg);
                left: 0;
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
                right: 0;
            }
        }
    }
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        &:not(:last-child) {
            margin-right: 10px;
            @include max($s) {
                margin-right: 4px;
            }
        }
    }
    &__link {
        outline: transparent;
        &:hover .header__icon{
            fill: $link-bc;
        }
        &:focus .header__icon{
            fill: #7c7c7c;
        }
        &:active .header__icon{
            fill: $global;
        }
    }
    &__link-corb {
        position: relative;
    }
    &__number {
        position: absolute;
        color: #fff0e4;
        background-color: $pink;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        top: -27px;
        font-size: 15px;
        @include max($lg) {
            width: 19px;
            height: 19px;
            top: -18px;
            font-size: 13px;
        }
        @include max($s) {
            top: -10px;
            right: -6px;
        }
    }
    &__icon {
        fill: $pink;
        transition: fill 0.3s ease-in;
    }
    &__user,
    &__search {
        width: 37px;
        height: 37px;
        @include max($lg) {
            width: 27px;
            height: 27px;
        }
        @include max($s) {
            width: 20px;
            height: 20px;
        }
    }
    &__corb {
        width: 48px;
        height: 37px;
        @include max($lg) {
            width: 35px;
            height: 22px;
        }
        @include max($s) {
            width: 28px;
            height: 21px;
        }
    }
    &__login {
        width: 44px;
        height: 45px;
        @include max($lg) {
            width: 31px;
            height: 32px;
        }
        @include max($s) {
            width: 25px;
            height: 24px;
        }
    }
}

.logo {
    outline: transparent;
    &__images {
        width: 205px;
        height: 54px;
        @include max($lg) {
            width: 178px;
            height: 40px;
        }
        @include max($s) {
            width: 114px;
            height: 34px;
        }
    }
}


.menu {
    position: absolute;
    top: 70px;
    transform: translateX(-300%);
    max-width: 345px;
    width: 100%;
    transition: transform 0.3s ease-in;
    &--active {
        transform: translateX(0);
        max-height: calc(100vh - 70px);
        overflow-y: auto;
    }
    &__item {
        position: relative;
        overflow: hidden;
    }
    &__head {
        cursor: pointer;
        position: relative;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff0e4;
        border-bottom: 1px solid #EDD5C2;
        padding: 20px;
        color: #000;
        font-size: 12px;
        font-weight: 600;
        transition: background-color 0.3s ease-in;
        outline: transparent;
        &:hover {
            background-color: $link-bc;
        }
        &:focus {
            background-color: $pink;
        }
        &:active {
            background-color: $link-bc;
        }
    }
    &__plus {
        position: absolute;
        width: 13px;
        height: 13px;
        right: 20px;
        &::before,
        &::after {
            position: absolute;
            content: '';
            background-color: #000;
        }
        &::after {
            width: 100%;
            height: 2px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &::before {
            width: 2px;
            height: 100%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: transform 0.3s ease-in;
        }
    }
    &__minus {
        &::before {
            // display: none;
            transform: rotate(90deg);
            right: 0;

        }
    }
    &__holder {
        display: none;
    }
    &__link {
        display: block;
        background-color: #FFF6F1;
        padding: 14px 20px;
        font-size: 10px;
        font-weight: 600;
        color: #000;
        border-bottom: 1px solid #EDD5C2;
        outline: transparent;
        transition: background-color 0.3s ease-in;
        &:hover {
            background-color: #ccc;
        }
        &:focus {
            background-color: $link-bc;
        }
        &:active {
            background-color: $pink;
        }
    }
    @include max($lg) {
        top: 56px;
    }
    @include max($s) {
        max-width: 100%;
        left: 0;
        top: 50px;
    }
}