.home {
    @include bg;
    background-position: bottom;
    &__inner {
        height: 100vh;
        max-width: 710px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &__inner--bottom {
        justify-content: flex-end;
        padding-bottom: 25px;
    }
    &--catalog-card {
        max-width: 860px;
    }
    &__subtitle {
        font-size: 24px;
        display: block;
        margin-bottom: 7px;
        font-family: $SourceSansPro;
        font-weight: 400;
        @include lineClamp;
        -webkit-line-clamp: 1;
        @include max($sm) {
            font-size: 20px;
        }
    }
    &__title {
        font-size: 64px;
        letter-spacing: 2px;
        font-weight: 700;
        margin-bottom: 25px;
        @include lineClamp;
        -webkit-line-clamp: 2;
        @include max($lg) {
            font-size: 45px;
            line-height: 1;
            letter-spacing: 0;
        }
        @include max($md) {
            font-size: 40px;
            margin-bottom: 14px;
        }
        @include max($sm) {
            font-size: 34px;
        }
        @include max($s) {
            font-size: 27px;
        }
        &--catalog-card {
            @include max($sm) {
                @include lineClamp;
                -webkit-line-clamp: 3;
            }
        }
    }
    &__link {
        @include max($sm) {
            font-size: 20px;
            padding: 18px 30px;
        }
        
    }
}