<section class="details">
    <h2 class="visually-hidden">Детальная информация о букете</h2>
    <div class="container">
        <div class="details__inner">
            <div class="details__sliders">
                <ul class="details__slider-top">
                    <li class="details__items">
                        <img class="details__images" src="images/discount-card.png" alt="Букет ромашек">
                    </li>
                    <li class="details__items">
                        <img class="details__images" src="images/discount-card.png" alt="Букет ромашек">
                    </li>
                    <li class="details__items">
                        <img class="details__images" src="images/discount-card.png" alt="Букет ромашек">
                    </li>
                    <li class="details__items">
                        <img class="details__images" src="images/discount-card.png" alt="Букет ромашек">
                    </li>
                    <li class="details__items">
                        <img class="details__images" src="images/discount-card.png" alt="Букет ромашек">
                    </li>
                    <li class="details__items">
                        <img class="details__images" src="images/discount-card.png" alt="Букет ромашек">
                    </li>
                    <li class="details__items">
                        <img class="details__images" src="images/discount-card.png" alt="Букет ромашек">
                    </li>
                    <li class="details__items">
                        <img class="details__images" src="images/discount-card.png" alt="Букет ромашек">
                    </li>
                </ul>
                <ul class="details__slider-bottom">
                    <li class="details__item">
                        <img class="details__photo" src="images/discount-card-small.png" alt="Букет ромашек">
                    </li>
                    <li class="details__item">
                        <img class="details__photo" src="images/discount-card-small.png" alt="Букет ромашек">
                    </li>
                    <li class="details__item">
                        <img class="details__photo" src="images/discount-card-small.png" alt="Букет ромашек">
                    </li>
                    <li class="details__item">
                        <img class="details__photo" src="images/discount-card-small.png" alt="Букет ромашек">
                    </li>
                    <li class="details__item">
                        <img class="details__photo" src="images/discount-card-small.png" alt="Букет ромашек">
                    </li>
                    <li class="details__item">
                        <img class="details__photo" src="images/discount-card-small.png" alt="Букет ромашек">
                    </li>
                    <li class="details__item">
                        <img class="details__photo" src="images/discount-card-small.png" alt="Букет ромашек">
                    </li>
                    <li class="details__item">
                        <img class="details__photo" src="images/discount-card-small.png" alt="Букет ромашек">
                    </li>
                </ul>
            </div>
            <div class="details__content">
                <ul class="details__tabs">
                    <li class="details__tab details__tab--pink">Хит продаж</li>
                    <li class="details__tab details__tab--gold">Букет дня</li>
                    <li class="details__tab details__tab--green">Новинка</li>
                    <li class="details__tab details__tab--orange">Скидка 50%</li>
                </ul>
                <div class="details__rewies">
                    <span class="details__subtitle">Отзывов (1)</span>
                    <span class="details__subtitle">Есть в наличие</span>
                </div>
                <span class="details__head">Повод:</span>
                <span class="details__descr">8 марта. 9 мая. Любовь</span>
                <span class="details__head">Кому:</span>
                <span class="details__descr details__descr--whom">Маме. Девушке. Женщине. Учителю. Теще. Друзьям</span>
                <div class="details__holder">
                    <label class="visually-hidden" for="number">Текстовое поле с возможностью добавления количества товара</label>
                    <input class="details__input" id="number" type="number" name="number" value="1" min="1" max="7">
                    <div class="details__price">
                        <div class="details__old">
                            <span class="details__price-numberOld">5400</span> 
                            <span>грн</span> 
                        </div>
                        <div class="details__price-actual">
                            <span class="details__price-number">3700</span> 
                            <span>грн</span> 
                        </div>
                    </div>
                    <button class="btn details__btn" type="button">В корзину</button>
                </div>
                <span class="details__heading">Описание:</span>
                <div class="details__text">
                    <p>
                        Веб-дизайн — непростая сфера, провоцирующая постоянные споры. Кто-то скажет, что для привлечения внимания вашему лендингу просто необходим современный дизайн, включающий последние тенденции. Другие считают, что работающая посадочная страница, на которой посетители получают то, зачем пришли, гораздо важнее.
                    </p>
                </div>
            </div>
        </div>
        <div class="reviews">
            <h3 class="reviews__title">Отзывы (1):</h3>
            <span class="reviews__subtitle">Отзыв от Лена Ленина </span>
            <div class="reviews__text">
                <p>
                    Веб-дизайн — непростая сфера, провоцирующая постоянные споры. Кто-то скажет, что для привлечения внимания вашему лендингу просто необходим современный дизайн, включающий последние тенденции. Другие считают, что работающая посадочная страница, на которой посетители получают то, зачем пришли, гораздо важнее.
                </p>
            </div>
        </div>
    </div>
</section>