.details {
    margin-bottom: 20px;
    &__inner {
        display: flex;
        margin-bottom: 30px;
        padding-top: 35px;
    }
    &__sliders {
        width: 459px;
        margin-right: 20px;
    }
    &__slider-top {
        margin-bottom: 15px;
    }

    &__images {
        width: 459px;
        height: 459px;
    }
    &__slider-bottom {
        width: 410px;
        margin-left: 35px;
    }
    &__item,
    &__photo {
        width: 82px !important;
        height: 82px;
        cursor: pointer;
    }
    & .slick-current.slick-active {
        & .details__photo {
            opacity: 0.4;
        }
    }
    & .slick-arrow {
        position: absolute;
        z-index: 5;
        top: 50%;
        transform: translateY(-50%);
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        &:hover .details__icon{
            fill: $link-bc;
        }
        &:active .details__icon{
            fill: $bg-color;
        }
    }
    & .slick-prev {
        left: -35px;
    }
    & .slick-next {
        right: -15px;
    }
    &__icon {
        width: 34px;
        height: 34px;
        fill: $global;
        transition: fill 0.3s ease-in;
    }
    &__tabs {
        max-width: 280px;
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__tab {
        max-width: 130px;
        width: 100%;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
        border-radius: 4px;
        padding: 6px 2px;
        @include lineClamp;
        -webkit-line-clamp: 1;
        margin-bottom: 3px;
        &--pink {
            background-color: $link-bc;
        }
        &--gold {
            background-color: #F1EB4C;
        }
        &--green {
            background-color: #4AE950;
        }
        &--orange {
            background-color: #FD984F;
        }
    }
    &__rewies {
        display: flex;
        margin-bottom: 15px;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 18px;
        color: #8E8D6F;
        @include lineClamp;
        -webkit-line-clamp: 1;
        &:not(:last-child) {
            margin-right: 27px;
        }
    }
    &__head {
        display: block;
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 20px;
        @include lineClamp;
        -webkit-line-clamp: 1;
    }
    &__descr {
        display: block;
        font-size: 18px;
        @include lineClamp;
        -webkit-line-clamp: 1;
        margin-bottom: 10px;
        &--whom {
            margin-bottom: 50px;
        }
    }
    &__holder {
        display: flex;
        align-items: center;
        margin-bottom: 35px;
    }
    & .jq-number {
        padding: 0 40px;
        background-color: #FFF6F2;
        border-radius: 39px;
        margin-right: 25px;
    }    
    & .jq-number.focused > .jq-number__field {
        border: none;
    }
    & .jq-number__field {
        width: 50px;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
    & .jq-number__field input {
        width: 50px;
        height: 65px;
        padding: 0;
        border: none;
        outline: transparent;
        font-family: $Montserrat;
        background: none;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        color: #333;
    }
    & .jq-number__spin {
        position: absolute;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 0;
        border: none;
        box-shadow: none;
        background: transparent;
        text-shadow: none;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
        &::after {
            border: none;
            color: #333;
            transition: color 0.3s ease-in;
        }
        &:hover::after {
            color: $link-bc;
        }
    }
    & .jq-number__spin.minus {
        left: 10px;
        &::after {
            width: 30px;
            height: 30px;
            font-size: 40px;
            line-height: 1;
            content: '-';
            position: absolute;
            left: 8px;
            top: -7px;        
        }
    }
    & .jq-number__spin.plus {
        right: 10px;
        &::after {
            width: 30px;
            height: 30px;
            position: absolute;
            left: 4px;
            right: 0;
            top: -5px;
            content: '+';
            font-size: 40px;
            line-height: 1;
        }
    }
    &__old {
        margin-bottom: 14px;
        font-size: 18px;
        text-decoration-line: line-through;
        color: #8E8D6F
    }
    &__price-actual {
        font-size: 24px;
        color: #7EA048;
    }
    &__btn {
        padding: 23px 81px;
        margin-left: auto;
        font-weight: 700;
        font-size: 24px;
        border-radius: 37px;
    }
    &__heading {
        @include lineClamp;
        -webkit-line-clamp: 1;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 600;
    }
    &__text {
        font-size: 18px;
        p {
            @include lineClamp;
            -webkit-line-clamp: 6;
        }
    }
    & .reviews {
        &__title {
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 20px;
        }
        &__subtitle {
            display: block;
            color: #D7537A;
            font-size: 20px;
            margin-bottom: 10px;
        }
        &__text {
            padding-left: 50px;
            font-size: 18px;
            p {
                @include lineClamp;
                -webkit-line-clamp: 5;
            }
        }
    }
}