<ul class="social">
    <li class="social__item">
        <a class="social__link" href="#">
            <svg class="social__icon" aria-label="иконка viber">
                <use xlink:href="images/sprite.svg#viber"></use>
            </svg>
        </a>
    </li>
    <li class="social__item">
        <a class="social__link" href="#">
            <svg class="social__icon" aria-label="иконка facebook">
                <use xlink:href="images/sprite.svg#facebook"></use>
            </svg>
        </a>
    </li>
    <li class="social__item">
        <a class="social__link" href="#">
            <svg class="social__icon" aria-label="иконка whatsapp">
                <use xlink:href="images/sprite.svg#whatsapp"></use>
            </svg>
        </a>
    </li>
    <li class="social__item">
        <a class="social__link" href="#">
            <svg class="social__icon" aria-label="иконка instagram">
                <use xlink:href="images/sprite.svg#instagram"></use>
            </svg>
        </a>
    </li>
</ul>