<foooter class="footer">
    <div class="container">
        <h2 class="footer__title title">Контакты:</h2>
        <ul class="footer__list">
            <li class="footer__item">
                <a class="footer__link footer__link--tel" href="tel:+749500000000">+749500000000</a>
            </li>
            <li class="footer__item">
                <a class="footer__link footer__link--post" href="mailto:post@gmail.com">post@gmail.com</a>
            </li>
        </ul>
        <ul class="social footer__social">
            <li class="social__item">
                <a class="social__link" href="#">
                    <svg class="social__icon" aria-label="иконка viber">
                        <use xlink:href="images/sprite.svg#viber"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="#">
                    <svg class="social__icon" aria-label="иконка facebook">
                        <use xlink:href="images/sprite.svg#facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="#">
                    <svg class="social__icon" aria-label="иконка whatsapp">
                        <use xlink:href="images/sprite.svg#whatsapp"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="#">
                    <svg class="social__icon" aria-label="иконка instagram">
                        <use xlink:href="images/sprite.svg#instagram"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <p class="footer__text">&copy; 2021. Все права защищены</p>
    </div>
</foooter>
