<section class="home" style="background-image: url('images/home-bg.jpg');">
    <div class="container">
        <div class="home__inner">
            <span class="home__subtitle wow animate__backInLeft" data-wow-duration="2s" data-wow-delay="1s">Подарите ощущение праздника</span>
            <h1 class="home__title wow animate__backInLeft" data-wow-duration="2s" data-wow-delay="1.5s">Собираем букеты, созданные для Вас</h1>
            <a class="link home__link wow animate__backInLeft" href="catalog.html" data-wow-duration="2s" data-wow-delay="2s">Выбрать букет</a>
        </div>
    </div>
</section>