<section class="choice">
    <div class="container">
        <h2 class="choice__title title wow animate__backInLeft" data-wow-offset="10" data-wow-duration="1.5s">Для кого</h2>
        <ul class="choice__list">
            <li class="choice__item">
                <article class="discount-card">
                    <div class="discount-card__photo">
                        <img class="discount-card__images" src="images/discount-card.png" alt="Букет ромашек">
                        <div class="discount-card__sale discount-card__sale--hit">Хит продаж</div>
                        <div class="discount-card__sale discount-card__sale--novelty">Новинка</div>
                        <div class="discount-card__sale discount-card__sale--top">Букет дня</div>
                        <div class="discount-card__sale discount-card__sale--bottom">Скидка 50%</div>
                    </div>
                    <div class="discount-card__name">№225 “Ромашки для Наташки”</div>
                    <div class="discount-card__name discount-card__name--last">№225 “Ромашки для Наташки”</div>
                    <div class="discount-card__inner">
                        <div class="discount-card__price">
                            <span class="discount-card__underline">5 400 грн</span>
                            <span class="discount-card__cost">3 700 грн</span>
                        </div>
                        <a class="discount-card__link link" href="catalog-card.html">Заказать</a>
                    </div>
                </article>
            </li>
            <li class="choice__item">
                <article class="discount-card">
                    <div class="discount-card__photo">
                        <img class="discount-card__images" src="images/discount-card.png" alt="Букет ромашек">
                        <div class="discount-card__sale discount-card__sale--hit">Хит продаж</div>
                        <div class="discount-card__sale discount-card__sale--novelty">Новинка</div>
                        <div class="discount-card__sale discount-card__sale--top">Букет дня</div>
                        <div class="discount-card__sale discount-card__sale--bottom">Скидка 50%</div>
                    </div>
                    <div class="discount-card__name">№225 “Ромашки для Наташки”</div>
                    <div class="discount-card__name discount-card__name--last">№225 “Ромашки для Наташки”</div>
                    <div class="discount-card__inner">
                        <div class="discount-card__price">
                            <span class="discount-card__underline">5 400 грн</span>
                            <span class="discount-card__cost">3 700 грн</span>
                        </div>
                        <a class="discount-card__link link" href="catalog-card.html">Заказать</a>
                    </div>
                </article>
            </li>
            <li class="choice__item">
                <article class="discount-card">
                    <div class="discount-card__photo">
                        <img class="discount-card__images" src="images/discount-card.png" alt="Букет ромашек">
                        <div class="discount-card__sale discount-card__sale--hit">Хит продаж</div>
                        <div class="discount-card__sale discount-card__sale--novelty">Новинка</div>
                        <div class="discount-card__sale discount-card__sale--top">Букет дня</div>
                        <div class="discount-card__sale discount-card__sale--bottom">Скидка 50%</div>
                    </div>
                    <div class="discount-card__name">№225 “Ромашки для Наташки”</div>
                    <div class="discount-card__name discount-card__name--last">№225 “Ромашки для Наташки”</div>
                    <div class="discount-card__inner">
                        <div class="discount-card__price">
                            <span class="discount-card__underline">5 400 грн</span>
                            <span class="discount-card__cost">3 700 грн</span>
                        </div>
                        <a class="discount-card__link link" href="catalog-card.html">Заказать</a>
                    </div>
                </article>
            </li>
            <li class="choice__item">
                <article class="discount-card">
                    <div class="discount-card__photo">
                        <img class="discount-card__images" src="images/discount-card.png" alt="Букет ромашек">
                        <div class="discount-card__sale discount-card__sale--hit">Хит продаж</div>
                        <div class="discount-card__sale discount-card__sale--novelty">Новинка</div>
                        <div class="discount-card__sale discount-card__sale--top">Букет дня</div>
                        <div class="discount-card__sale discount-card__sale--bottom">Скидка 50%</div>
                    </div>
                    <div class="discount-card__name">№225 “Ромашки для Наташки”</div>
                    <div class="discount-card__name discount-card__name--last">№225 “Ромашки для Наташки”</div>
                    <div class="discount-card__inner">
                        <div class="discount-card__price">
                            <span class="discount-card__underline">5 400 грн</span>
                            <span class="discount-card__cost">3 700 грн</span>
                        </div>
                        <a class="discount-card__link link" href="catalog-card.html">Заказать</a>
                    </div>
                </article>
            </li>
            <li class="choice__item">
                <article class="discount-card">
                    <div class="discount-card__photo">
                        <img class="discount-card__images" src="images/discount-card.png" alt="Букет ромашек">
                        <div class="discount-card__sale discount-card__sale--hit">Хит продаж</div>
                        <div class="discount-card__sale discount-card__sale--novelty">Новинка</div>
                        <div class="discount-card__sale discount-card__sale--top">Букет дня</div>
                        <div class="discount-card__sale discount-card__sale--bottom">Скидка 50%</div>
                    </div>
                    <div class="discount-card__name">№225 “Ромашки для Наташки”</div>
                    <div class="discount-card__name discount-card__name--last">№225 “Ромашки для Наташки”</div>
                    <div class="discount-card__inner">
                        <div class="discount-card__price">
                            <span class="discount-card__underline">5 400 грн</span>
                            <span class="discount-card__cost">3 700 грн</span>
                        </div>
                        <a class="discount-card__link link" href="catalog-card.html">Заказать</a>
                    </div>
                </article>
            </li>
            <li class="choice__item">
                <article class="discount-card">
                    <div class="discount-card__photo">
                        <img class="discount-card__images" src="images/discount-card.png" alt="Букет ромашек">
                        <div class="discount-card__sale discount-card__sale--hit">Хит продаж</div>
                        <div class="discount-card__sale discount-card__sale--novelty">Новинка</div>
                        <div class="discount-card__sale discount-card__sale--top">Букет дня</div>
                        <div class="discount-card__sale discount-card__sale--bottom">Скидка 50%</div>
                    </div>
                    <div class="discount-card__name">№225 “Ромашки для Наташки”</div>
                    <div class="discount-card__name discount-card__name--last">№225 “Ромашки для Наташки”</div>
                    <div class="discount-card__inner">
                        <div class="discount-card__price">
                            <span class="discount-card__underline">5 400 грн</span>
                            <span class="discount-card__cost">3 700 грн</span>
                        </div>
                        <a class="discount-card__link link" href="catalog-card.html">Заказать</a>
                    </div>
                </article>
            </li>
            <li class="choice__item">
                <article class="discount-card">
                    <div class="discount-card__photo">
                        <img class="discount-card__images" src="images/discount-card.png" alt="Букет ромашек">
                        <div class="discount-card__sale discount-card__sale--hit">Хит продаж</div>
                        <div class="discount-card__sale discount-card__sale--novelty">Новинка</div>
                        <div class="discount-card__sale discount-card__sale--top">Букет дня</div>
                        <div class="discount-card__sale discount-card__sale--bottom">Скидка 50%</div>
                    </div>
                    <div class="discount-card__name">№225 “Ромашки для Наташки”</div>
                    <div class="discount-card__name discount-card__name--last">№225 “Ромашки для Наташки”</div>
                    <div class="discount-card__inner">
                        <div class="discount-card__price">
                            <span class="discount-card__underline">5 400 грн</span>
                            <span class="discount-card__cost">3 700 грн</span>
                        </div>
                        <a class="discount-card__link link" href="catalog-card.html">Заказать</a>
                    </div>
                </article>
            </li>
            <li class="choice__item">
                <article class="discount-card">
                    <div class="discount-card__photo">
                        <img class="discount-card__images" src="images/discount-card.png" alt="Букет ромашек">
                        <div class="discount-card__sale discount-card__sale--hit">Хит продаж</div>
                        <div class="discount-card__sale discount-card__sale--novelty">Новинка</div>
                        <div class="discount-card__sale discount-card__sale--top">Букет дня</div>
                        <div class="discount-card__sale discount-card__sale--bottom">Скидка 50%</div>
                    </div>
                    <div class="discount-card__name">№225 “Ромашки для Наташки”</div>
                    <div class="discount-card__name discount-card__name--last">№225 “Ромашки для Наташки”</div>
                    <div class="discount-card__inner">
                        <div class="discount-card__price">
                            <span class="discount-card__underline">5 400 грн</span>
                            <span class="discount-card__cost">3 700 грн</span>
                        </div>
                        <a class="discount-card__link link" href="catalog-card.html">Заказать</a>
                    </div>
                </article>
            </li>
        </ul>
        <a class="choice__link" href="catalog.html">Перейти к каталогу</a>
    </div>
</section>