<section class="discount">
    <div class="container">
        <h2 class="discount__title title wow animate__backInLeft" data-wow-offset="10" data-wow-duration="1.5s">Скидки</h2>
        <ul class="discount__list">
            <li class="discount__item">
                @include('../discount-card.html')
            </li>
            <li class="discount__item">
                @include('../discount-card.html')
            </li>
            <li class="discount__item">
                @include('../discount-card.html')
            </li>
            <li class="discount__item">
                @include('../discount-card.html')
            </li>
            <li class="discount__item">
                @include('../discount-card.html')
            </li>
            <li class="discount__item">
                @include('../discount-card.html')
            </li>
            <li class="discount__item">
                @include('../discount-card.html')
            </li>
            <li class="discount__item">
                @include('../discount-card.html')
            </li>
            <li class="discount__item">
                @include('../discount-card.html')
            </li>
            <li class="discount__item">
                @include('../discount-card.html')
            </li>
            <li class="discount__item">
                @include('../discount-card.html')
            </li>
            <li class="discount__item">
                @include('../discount-card.html')
            </li>
        </ul>
    </div>
</section>