<section class="about">
    <div class="container">
        <h2 class="about__title title wow animate__backInLeft" data-wow-offset="10" data-wow-duration="1.5s">Почему именно мы?</h2>
        <ul class="about__list">
            <li class="about__item">
                <div class="about__text about__text--composition-1">
                    <p>
                        Вы можете выбрать любую цветочную композицию из нашего каталога или заказать свой вариант. Вы можете выбрать любую цветочную композицию из нашего каталога или заказать свой вариант
                    </p>
                </div>
                <div class="about__images about__images--composition-1" aria-label="Декоративная картинка" style="background-image: url(../images/about-img-1.jpg);"></div>
            </li>
            <li class="about__item">
                <div class="about__text about__text--composition-2">
                    <p>
                        Вы можете выбрать любую цветочную композицию из нашего каталога или заказать свой вариант
                    </p>
                </div>
                <div class="about__images about__images--composition-2" aria-label="Декоративная картинка" style="background-image: url(../images/about-img-2.jpg);"></div>
            </li>
            <li class="about__item">
                <div class="about__text about__text--composition-3">
                    <p>
                        Вы можете выбрать любую цветочную композицию из нашего каталога или заказать свой вариант
                    </p>
                </div>
                <div class="about__images about__images--composition-3" aria-label="Декоративная картинка" style="background-image: url(../images/about-img-3.jpg);"></div>
            </li>
        </ul>
    </div>
</section>