<section class="gallery">
    <div class="container">
        <h2 class="gallery__title title">Каталог</h2>
        <div class="gallery__inner">
            <div class="gallery__column">
                <div class="gallery__item">
                    <article class="gallery-card">
                        <a class="gallery-card__link" href="#">
                            <img class="gallery-card__images" src="../images/gallery-card-1.jpg" alt="Букет роз">
                            <div class="gallery-card__name">
                                <p class="gallery-card__text">Для кого</p>
                                <div class="gallery-card__top" aria-label="Декоративные картинки"></div>
                                <div class="gallery-card__bottom" aria-label="Декоративные картинки"></div>
                            </div>
                        </a>
                    </article>
                </div>
                <div class="gallery__item">
                    <article class="gallery-card">
                        <a class="gallery-card__link" href="#">
                            <img class="gallery-card__images" src="../images/gallery-card-3.jpg" alt="Букет роз">
                            <div class="gallery-card__name">
                                <p class="gallery-card__text">Праздничная коллекция</p>
                                <div class="gallery-card__top" aria-label="Декоративные картинки"></div>
                                <div class="gallery-card__bottom" aria-label="Декоративные картинки"></div>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
            <div class="gallery__column gallery__column--lang">
                <div class="gallery__item gallery__item--lang">
                    <article class="gallery-card">
                        <a class="gallery-card__link" href="#">
                            <img class="gallery-card__images" src="../images/gallery-card-2.jpg" alt="Букет роз">
                            <div class="gallery-card__name gallery-card__name--right">
                                <p class="gallery-card__text">Подарки</p>   
                                <div class="gallery-card__top" aria-label="Декоративные картинки"></div>
                                <div class="gallery-card__bottom" aria-label="Декоративные картинки"></div>
                            </div>
                        </a>
                    </article>
                </div>
                <div class="gallery__item gallery__item--lang gallery__item--high">
                    <article class="gallery-card">
                        <a class="gallery-card__link" href="#">
                            <img class="gallery-card__images" src="../images/gallery-card-4.jpg" alt="Букет роз">
                            <div class="gallery-card__name gallery-card__name--right">
                                <p class="gallery-card__text">Букеты</p>   
                                <div class="gallery-card__top" aria-label="Декоративные картинки"></div>
                                <div class="gallery-card__bottom" aria-label="Декоративные картинки"></div>
                            </div>
                        </a>
                    </article>
                </div>
                <div class="gallery__item gallery__item--lang">
                    <article class="gallery-card">
                        <a class="gallery-card__link" href="#">
                            <img class="gallery-card__images" src="../images/gallery-card-6.jpg" alt="Букет роз">
                            <div class="gallery-card__name gallery-card__name--right">
                                <p class="gallery-card__text">Розы</p>   
                                <div class="gallery-card__top" aria-label="Декоративные картинки"></div>
                                <div class="gallery-card__bottom" aria-label="Декоративные картинки"></div>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
            <div class="gallery__column">
                <div class="gallery__item">
                    <article class="gallery-card">
                        <a class="gallery-card__link" href="#">
                            <img class="gallery-card__images" src="../images/gallery-card-5.jpg" alt="Сладости">
                            <div class="gallery-card__name">
                                <p class="gallery-card__text">Сладости</p>
                                <div class="gallery-card__top" aria-label="Декоративные картинки"></div>
                                <div class="gallery-card__bottom" aria-label="Декоративные картинки"></div>
                            </div>
                        </a>
                    </article>
                </div>
                <div class="gallery__item">
                    <article class="gallery-card">
                        <a class="gallery-card__link" href="#">
                            <img class="gallery-card__images" src="../images/gallery-card-7.jpg" alt="Комнатные растения">
                            <div class="gallery-card__name">
                                <p class="gallery-card__text">Комнатные растения</p>
                                <div class="gallery-card__top" aria-label="Декоративные картинки"></div>
                                <div class="gallery-card__bottom" aria-label="Декоративные картинки"></div>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
