<section class="classification">
    <div class="container">
        <a class="classification__logo logo" href="#">
            <img class="logo__images" src="./images/logo.png" alt="Логотип">
        </a>
        <ul class="classification__list">
            <li class="classification__item wow animate__backInUp" data-wow-duration="1.5s" data-wow-offset="10">
                <article class="gallery-card">
                    <a class="gallery-card__link" href="#">
                        <img class="gallery-card__images" src="images/gallery-card-7.jpg" alt="Комнатные растения">
                        <div class="gallery-card__name">
                            <p class="gallery-card__text">Комнатные растения</p>
                            <div class="gallery-card__top" aria-label="Декоративные картинки"></div>
                            <div class="gallery-card__bottom" aria-label="Декоративные картинки"></div>
                        </div>
                    </a>
                </article>
            </li>
            <li class="classification__item wow animate__backInUp" data-wow-duration="1.5s" data-wow-offset="10">
                <article class="gallery-card">
                    <a class="gallery-card__link" href="#">
                        <img class="gallery-card__images" src="images/gallery-card-1.jpg" alt="Комнатные растения">
                        <div class="gallery-card__name">
                            <p class="gallery-card__text">Комнатные растения</p>
                            <div class="gallery-card__top" aria-label="Декоративные картинки"></div>
                            <div class="gallery-card__bottom" aria-label="Декоративные картинки"></div>
                        </div>
                    </a>
                </article>
            </li>
            <li class="classification__item wow animate__backInUp" data-wow-duration="1.5s" data-wow-offset="10">
                <article class="gallery-card">
                    <a class="gallery-card__link" href="#">
                        <img class="gallery-card__images" src="images/gallery-card-3.jpg" alt="Комнатные растения">
                        <div class="gallery-card__name">
                            <p class="gallery-card__text">Комнатные растения</p>
                            <div class="gallery-card__top" aria-label="Декоративные картинки"></div>
                            <div class="gallery-card__bottom" aria-label="Декоративные картинки"></div>
                        </div>
                    </a>
                </article>
            </li>
            <li class="classification__item wow animate__backInUp" data-wow-duration="1.5s" data-wow-offset="10">
                <article class="gallery-card">
                    <a class="gallery-card__link" href="#">
                        <img class="gallery-card__images" src="images/gallery-card-5.jpg" alt="Комнатные растения">
                        <div class="gallery-card__name">
                            <p class="gallery-card__text">Комнатные растения</p>
                            <div class="gallery-card__top" aria-label="Декоративные картинки"></div>
                            <div class="gallery-card__bottom" aria-label="Декоративные картинки"></div>
                        </div>
                    </a>
                </article>
            </li>
            <li class="classification__item wow animate__backInUp" data-wow-duration="1.5s" data-wow-offset="10">
                <article class="gallery-card">
                    <a class="gallery-card__link" href="#">
                        <img class="gallery-card__images" src="images/gallery-card-7.jpg" alt="Комнатные растения">
                        <div class="gallery-card__name">
                            <p class="gallery-card__text">Комнатные растения</p>
                            <div class="gallery-card__top" aria-label="Декоративные картинки"></div>
                            <div class="gallery-card__bottom" aria-label="Декоративные картинки"></div>
                        </div>
                    </a>
                </article>
            </li>
            <li class="classification__item wow animate__backInUp" data-wow-duration="1.5s" data-wow-offset="10">
                <article class="gallery-card">
                    <a class="gallery-card__link" href="#">
                        <img class="gallery-card__images" src="images/gallery-card-5.jpg" alt="Комнатные растения">
                        <div class="gallery-card__name">
                            <p class="gallery-card__text">Комнатные растения</p>
                            <div class="gallery-card__top" aria-label="Декоративные картинки"></div>
                            <div class="gallery-card__bottom" aria-label="Декоративные картинки"></div>
                        </div>
                    </a>
                </article>
            </li>
            <li class="classification__item wow animate__backInUp" data-wow-duration="1.5s" data-wow-offset="10">
                <article class="gallery-card">
                    <a class="gallery-card__link" href="#">
                        <img class="gallery-card__images" src="images/gallery-card-1.jpg" alt="Комнатные растения">
                        <div class="gallery-card__name">
                            <p class="gallery-card__text">Комнатные растения</p>
                            <div class="gallery-card__top" aria-label="Декоративные картинки"></div>
                            <div class="gallery-card__bottom" aria-label="Декоративные картинки"></div>
                        </div>
                    </a>
                </article>
            </li>
            <li class="classification__item wow animate__backInUp" data-wow-duration="1.5s" data-wow-offset="10">
                <article class="gallery-card">
                    <a class="gallery-card__link" href="#">
                        <img class="gallery-card__images" src="images/gallery-card-3.jpg" alt="Комнатные растения">
                        <div class="gallery-card__name">
                            <p class="gallery-card__text">Комнатные растения</p>
                            <div class="gallery-card__top" aria-label="Декоративные картинки"></div>
                            <div class="gallery-card__bottom" aria-label="Декоративные картинки"></div>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </div>
</section>