<section class="page">
    <h2 class="visually-hidden">Основной каталог для заказа букетов</h2>
    <div class="container">
        <div class="page__wrapper">
            <aside class="sidebar">
                <div class="sidebar__holder">
                    <form class="sidebar__form" action="#">
                        <h3 class="sidebar__subtitle">Категории</h3>
                        <ul class="sidebar__list">
                            <li class="sidebar__item">
                                <label class="sidebar__label">
                                    <input class="sidebar__input" type="radio" name="category">
                                    <span class="sidebar__checked"></span>
                                    <span class="sidebar__text">Категория (0)</span>
                                    
                                </label>
                            </li>
                            <li class="sidebar__item">
                                <label class="sidebar__label">
                                    <input class="sidebar__input" type="radio" name="category">
                                    <span class="sidebar__checked"></span>
                                    <span class="sidebar__text">Категория (0)</span>
                                </label>
                            </li>
                            <li class="sidebar__item">
                                <label class="sidebar__label">
                                    <input class="sidebar__input" type="radio" name="category">
                                    <span class="sidebar__checked"></span>
                                    <span class="sidebar__text">Категория (0)</span>
                                </label>
                            </li>
                            <li class="sidebar__item">
                                <label class="sidebar__label">
                                    <input class="sidebar__input" type="radio" name="category">
                                    <span class="sidebar__checked"></span>
                                    <span class="sidebar__text">Категория (0)</span>
                                </label>
                            </li>
                            <li class="sidebar__item">
                                <label class="sidebar__label">
                                    <input class="sidebar__input" type="radio" name="category">
                                    <span class="sidebar__checked"></span>
                                    <span class="sidebar__text">Категория (0)</span>
                                </label>
                            </li>
                            <li class="sidebar__item">
                                <label class="sidebar__label">
                                    <input class="sidebar__input" type="radio" name="category">
                                    <span class="sidebar__checked"></span>
                                    <span class="sidebar__text">Категория (0)</span>
                                </label>
                            </li>
                        </ul>
                    </form>
    
                    <form class="sidebar__form" action="#">
                        <h3 class="sidebar__subtitle">Повод</h3>
                        <ul class="sidebar__list">
                            <li class="sidebar__item">
                                <label class="sidebar__label">
                                    <input class="sidebar__input" type="radio" name="cause">
                                    <span class="sidebar__checked"></span>
                                    <span class="sidebar__text">Повод (0)</span>
                                </label>
                            </li>
                            <li class="sidebar__item">
                                <label class="sidebar__label">
                                    <input class="sidebar__input" type="radio" name="cause">
                                    <span class="sidebar__checked"></span>
                                    <span class="sidebar__text">Повод (0)</span>
                                </label>
                            </li>
                            <li class="sidebar__item">
                                <label class="sidebar__label">
                                    <input class="sidebar__input" type="radio" name="cause">
                                    <span class="sidebar__checked"></span>
                                    <span class="sidebar__text">Повод (0)</span>
                                </label>
                            </li>
                            <li class="sidebar__item">
                                <label class="sidebar__label">
                                    <input class="sidebar__input" type="radio" name="cause">
                                    <span class="sidebar__checked"></span>
                                    <span class="sidebar__text">Повод (0)</span>
                                </label>
                            </li>
                            <li class="sidebar__item">
                                <label class="sidebar__label">
                                    <input class="sidebar__input" type="radio" name="cause">
                                    <span class="sidebar__checked"></span>
                                    <span class="sidebar__text">Повод (0)</span>
                                </label>
                            </li>
                            <li class="sidebar__item">
                                <label class="sidebar__label">
                                    <input class="sidebar__input" type="radio" name="cause">
                                    <span class="sidebar__checked"></span>
                                    <span class="sidebar__text">Повод (0)</span>
                                </label>
                            </li>
                        </ul>
                    </form>
    
                    <form class="sidebar__form" action="#">
                        <h3 class="sidebar__subtitle">Кому</h3>
                        <ul class="sidebar__list">
                            <li class="sidebar__item">
                                <label class="sidebar__label">
                                    <input class="sidebar__input" type="radio" name="whom">
                                    <span class="sidebar__checked"></span>
                                    <span class="sidebar__text">Кому (0)</span>
                                </label>
                            </li>
                            <li class="sidebar__item">
                                <label class="sidebar__label">
                                    <input class="sidebar__input" type="radio" name="whom">
                                    <span class="sidebar__checked"></span>
                                    <span class="sidebar__text">Кому (0)</span>
                                </label>
                            </li>
                            <li class="sidebar__item">
                                <label class="sidebar__label">
                                    <input class="sidebar__input" type="radio" name="whom">
                                    <span class="sidebar__checked"></span>
                                    <span class="sidebar__text">Кому (0)</span>
                                </label>
                            </li>
                            <li class="sidebar__item">
                                <label class="sidebar__label">
                                    <input class="sidebar__input" type="radio" name="whom">
                                    <span class="sidebar__checked"></span>
                                    <span class="sidebar__text">Кому (0)</span>
                                </label>
                            </li>
                            <li class="sidebar__item">
                                <label class="sidebar__label">
                                    <input class="sidebar__input" type="radio" name="whom">
                                    <span class="sidebar__checked"></span>
                                    <span class="sidebar__text">Кому (0)</span>
                                </label>
                            </li>
                            <li class="sidebar__item">
                                <label class="sidebar__label">
                                    <input class="sidebar__input" type="radio" name="whom">
                                    <span class="sidebar__checked"></span>
                                    <span class="sidebar__text">Кому (0)</span>
                                </label>
                            </li>
                        </ul>
                    </form>
                </div>    

                <form class="sidebar__filter" action="#">
                    <h4 class="sidebar__subtitle">Фильтр</h3>
                    <label class="visually-hidden">Фильтр по уеновой категории</label>   
                    <input class="js-range-slider" type="text" name="range" 
                    data-type="double"
                    data-min="0"
                    data-max="1000"
                    data-from="100"
                    data-to="900">
                    <button class="btn" type="button">Фильтровать</button>    
                    <div class="sidebar__price">
                        <div class="sidebar__price-desc">Цена:</div>
                        <div class="sidebar__price-min"></div>
                        <span class="sidebar__price-mooney">грн -</span>
                        <div class="sidebar__price-max"></div>
                        <span class="sidebar__price-mooney">грн</span>
                    </div>
                </form>
            </aside>

            <ul class="page__list">
                <li class="page__item">
                    @include('../discount-card.html')
                </li>
                <li class="page__item">
                    @include('../discount-card.html')
                </li>
                <li class="page__item">
                    @include('../discount-card.html')
                </li>
                <li class="page__item">
                    @include('../discount-card.html')
                </li>
                <li class="page__item">
                    @include('../discount-card.html')
                </li>
                <li class="page__item">
                    @include('../discount-card.html')
                </li>
                <li class="page__item">
                    @include('../discount-card.html')
                </li>
                <li class="page__item">
                    @include('../discount-card.html')
                </li>
                <li class="page__item">
                    @include('../discount-card.html')
                </li>
                <li class="page__item">
                    @include('../discount-card.html')
                </li>
                <li class="page__item">
                    @include('../discount-card.html')
                </li>
                <li class="page__item">
                    @include('../discount-card.html')
                </li>
                <li class="page__item">
                    @include('../discount-card.html')
                </li>
                <li class="page__item">
                    @include('../discount-card.html')
                </li>
                <li class="page__item">
                    @include('../discount-card.html')
                </li>
                <li class="page__item">
                    @include('../discount-card.html')
                </li>
                <li class="page__item">
                    @include('../discount-card.html')
                </li>
                <li class="page__item">
                    @include('../discount-card.html')
                </li>
            </ul>
        </div>
    </div>
</section>