<section class="map">
    <div class="container">
        <h2 class="visually-hidden">Наши контакты</h2>
        <div class="map__inner">
            <div id="map-js" aria-label="Карта нашего магазина"></div>
            <address class="map__content">
                <h3 class="map__title">Звоните нам или пишите в месенджер</h3>
                <ul class="map__list">
                    <li class="map__item map__item-icon map__item--phone">
                        <a class="map__link" href="tel:+749500000000">
                            +749500000000
                            <span class="map__name">- Имя</span>
                        </a>
                        <a class="map__link" href="tel:+749500000000">
                            +749500000000
                            <span class="map__name">- Имя</span>
                        </a>
                    </li>
                    <li class="map__item map__item-icon map__item--email">
                        <a class="map__link" href="mailto:post@gmail.com">post@gmail.com</a>
                    </li>
                </ul>
                <div class="map__holder">
                    <span class="map__subtitle">Мы в соц сетях:</span>
                    <ul class="social map__social">
                        <li class="social__item">
                            <a class="social__link" href="#">
                                <svg class="social__icon" aria-label="иконка viber">
                                    <use xlink:href="images/sprite.svg#viber"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#">
                                <svg class="social__icon" aria-label="иконка facebook">
                                    <use xlink:href="images/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#">
                                <svg class="social__icon" aria-label="иконка whatsapp">
                                    <use xlink:href="images/sprite.svg#whatsapp"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#">
                                <svg class="social__icon" aria-label="иконка instagram">
                                    <use xlink:href="images/sprite.svg#instagram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <h3 class="map__title">Как нас найти?</h3>
                <ul class="map__list map__list--search">
                    <li class="map__item map__item-icon map__item--map">
                        <a class="map__link" href="#">Город, улица Название, дом 1</a>
                    </li>
                    <li class="map__item map__item-icon map__item--clock">
                        Режим работы:
                        <div class="map__date">
                            <span class="map__time">Пн-пт: 00:00-00:00</span>
                            <span class="map__time">Сб-вс: 00:00-00:00</span>
                        </div>
                    </li>
                </ul>
            </address>
        </div>
    </div>
</section>